:root {
  --font-family-regular: 'Atyp Display', sans-serif;
  --font-family-semibold: 'Atyp Display Semibold', sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 800;
}

html {
  font-family: var(--font-family-regular);
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4 {
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-regular);
}

.semibold-text {
  font-family: var(--font-family-semibold);
  font-weight: var(--font-weight-semibold);
}

.text-h1 {
  font-size: clamp(2rem, 1.1824rem + 3.3543vw, 4rem);
  line-height: 1.36;
}

.text-h2 {
  font-size: clamp(2rem, 1.7956rem + 0.8386vw, 2.5rem);
  line-height: 1.35;
}

.text-h3 {
  font-size: clamp(1.5rem, 1.2956rem + 0.8386vw, 2rem);
  line-height: 1.5;
}

.text-h4 {
  font-size: 1.5rem;
  line-height: 1.33;
}
