@use "sass:map";

// prettier-ignore
$colors: (
  "white"     : ( "hex": #ffffff, "display-p3": 1 1 1 ),
  "black"     : ( "hex": #111111, "display-p3": 0.0667 0.0667 0.0667 ),
  "secondary" : ( "hex": #bbb0a1, "display-p3": 0.7259 0.6917 0.6378 ),
  "tertiary"  : ( "hex": #fef8ee, "display-p3": 0.992 0.9733 0.9374 ),
  "quaternary": ( "hex": #1e517b, "display-p3": 0.1729 0.3133 0.4691 ), 
  "lemon"     : ( "hex": #caee5a, "display-p3": 0.7921 0.9323 0.3529 ),
  "grey"      : ( "hex": #828282, "display-p3": 0.5098 0.5098 0.5098 ),
);

:root {
  --color-white: #ffffff;
  --color-black: #111111;
  --color-secondary: #bbb0a1;
  --color-tertiary: #fef8ee;
  --color-quaternary: rgb(30, 81, 123);
  --color-lemon: #caee5a;
  --color-grey: #828282;

  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 17, 17, 17;
  --color-secondary-rgb: 187, 176, 161;
  --color-quaternary-rgb: 30, 81, 123;
}

@media (color-gamut: p3) {
  :root {
    @each $color in map.keys($colors) {
      --color-#{$color}: color(display-p3 #{map.get($colors, $color, "display-p3")});
    }
  }
}
